body{
  background: black;
  height: 100vh;
  
}

.cal{

  padding: 50px 30px;
  width: 400px;
  margin: 60px auto;
  box-shadow: 0px 0px 10px;
  border-radius: 20px;
  background: linear-gradient(#747399 0%, #ce6f11 40%);
}
button,

input{
  font-size: 30px;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
}
.text-box{
  margin-top: 10px;
}
input {
  width: 85%;
  padding: 30px;
}

.grid{
  padding: 5%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
button{
  margin: 5px;
}
